@charset "utf-8";
/*
    Timothy C Masserant
	Project V2
	2/13/21
	Filename: AboutStylesstyles.css
*/
body{
    background-color: rgb(41, 38, 38);
   
    font-size: 100%;  
    margin: 0;  
    padding: 0;  
    vertical-align: baseline; 
    /*CSS reset elements*/

}
body > header{
    color: white;
}
a:link{
    text-decoration: none;

}