@charset "utf-8";
/*
    Timothy C Masserant
	Project V1
	1/22/21
	Filename: AboutStylesstyles.css
*/
body{
    background-color: rgb(41, 38, 38);
   
    font-size: 100%;  
    margin: 0;  
    padding: 0;  
    vertical-align: baseline; 


}
body > header{
    color: white;
}
a:link{
    text-decoration: none;

}