@charset "utf-8";
/*
    Timothy C Masserant
	Project V3
	2/20/21
	Filename: AboutStylesstyles.css
*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
body{
    background-color: rgb(41, 38, 38);
   
    font-size: 100%;  
    margin: 0;  
    padding: 0;  
    vertical-align: baseline; 
    /*CSS reset elements*/

}
body > header{
    color: white;
}
a:link{
    text-decoration: none;

}
ul.submenu
{
    display: none;
}
a.submenuTitle:hover+ul.submenu, ul.submenu:hover
{
    display: block;
}