@charset "utf-8";
/*
    Timothy C Masserant
	Project V3
	2/20/21
	Filename: styles.css
*/
@media only screen and (max-width: 768px) {
    /* Format for mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
html, body
{
    padding: 0%;
    margin: 0%;
}
html
{
    height: 100%;
    background-color: rgb(41, 38, 38);
}
body 
{
    min-height: 100%;
    color: azure;
    background-color: rgb(102, 98, 98);
}
/* the * symbol is the wildcard selector that matches the element to every child of the body element */
header
{
    background-color: rgb(41, 38, 38);
    
}
body > div 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a
{
    font-size: large;
}
header > p
{
    font-size: small;
}
div
{
    font-size: small;
}
div > p::first-letter
{
    color: purple;
}
/* pseudo-element that changes the color of the first letter of each sentence */
footer
{
    background: rgba(255, 0, 0, 0.616);
    position: relative;
    bottom: 0%;
    /*Places footer at bottom of screen where I want it*/
}
article > p
{
    text-align: left;
}
p
{
    text-align: center;
}
body > nav > ul > li
{
    float: left;
    width: 25%;
    /*CSS float example that sets my links horizontally across*/
}
nav > ul > li > a
{
    clear: none;
    width: 25%;
    /*Sets the bottom page link with the float element of the navigation list*/
}
nav > ul > li > a:hover, nav > ul > a:active
{
    color: royalblue;
}
/* pseudo-class that changes the color of the nav links when cursor hovers over */
article h1+h2
{
    color: red;
}
div > p
{
    display: grid;
    grid-template-rows: 10px auto 10px;
    grid-template-columns: 65% 50% 50%;
    outline: 1px solid rgba(253, 0, 0, 0.212);
    /*Sets the down the page element into a grid seperating each line in the row by 10 pixels
    and the first percentage value in the colums element moving the text to the center of the grid*/
}
ul.submenu
{
    display: none;
}
a.submenuTitle:hover+ul.submenu, ul.submenu:hover
{
    display: block;
}
footer
{
    position: fixed;
    width: 100%;
}

